
  @import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

body{
 font-size: 50px;
 margin-left: 10px;
background-color: rgb(223, 223, 223);
font-family: 'Wallpoet', cursive;
}

  .ball {
   margin-top: 35px;
    border-radius: 50%;
    position: fixed;  
    width: 380px;
    height: 380px;
    top: 33%;
    margin-left: 280px;
    animation-name: bounce;
    animation-duration: 17s;
    animation-iteration-count: infinite;
  }

  #white  {
   
    animation-timing-function: ease-in;
  }

  @keyframes bounce {
    0% {
        top: 152px; 

	background-color: red;
	}
    
	20% {
        top: 43%;
	background-color: orange;
	}
	
	40% {
        top: 152px; 
	  background-color: yellow;
    }
  60% {
    top: 43%;
  background-color: Green;
  }
  80%{
    top: 152px; background-color: Blue;

  }
  100% {
    top: 152px; 
    
    background-color:purple;
}    
 
}
  



 
#scroll-container {
    -moz-transform: translateX(20%);
    -webkit-transform: translateX(105%);
    transform: translateX(-100%);
  
  }
  #scroll-text {
    font-size: 20px;
    -moz-transform: translateX(150%);
    -webkit-transform: translateX(105%);
    transform: translateX(150%);
    transform: translate(-300%);
    color: rgb(6, 185, 53);
    -moz-animation: my-animation 35s linear infinite;
    -webkit-animation: my-animation 45s linear infinite;
    animation: my-animation 19s linear infinite;
    
  }
 

  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); 
       }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); 
      }
  }
  
  @keyframes my-animation {
    
    from{
      -moz-transform: translateX(200%);
      -webkit-transform: translateX(200%);
      transform: translateX(200%);
      ;
    }
    to{
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
     ;
    }

}
  
  
.one{margin-left: 10px;
    font-size: 130%;
}
.two{
    font-size: 90%;
    text-align: right;
}
.link{
    text-decoration: none;
    color:black;
}